In [4]:
import pandas as pd

## Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов в файле “horse_data.names” , загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [6]:
df = pd.read_csv('horse_data.csv', header = None)
df.columns = [
    'surgery?',
    'Age',
    'Hospital Number',
    'rectal temperature',
    'pulse',
    'respiratory rate',
    'temperature of extremities',
    'peripheral pulse',
    'mucous membranes',
    'capillary refill time',
    'pain',
    'peristalsis',
    'abdominal distension',
    'nasogastric tube',
    'nasogastric reflux',
    'nasogastric reflux PH',
    'rectal examination',
    'abdomen',
    'packed cell volume',
    'total protein',
    'abdominocentesis appearance',
    'abdomcentesis total protein',
    'outcome',
    'surgical lesion?',
    'type of lesion 1',
    'type of lesion 2',
    'type of lesion 3',
    'cp_data'
]
df.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion 1,type of lesion 2,type of lesion 3,cp_data
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

Обработаем дата-фрейм:
<tr>
<li>- оставим нужные колонки; </li>
<li>- заменим знаки вопроса на цифровые значения, которые больше не встречаются; </li>
<li>- изменим тип данных на числовой для возможности проведения расчетов. </li>
</tr>

In [8]:
df_estimated = df[['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']].replace('?', None)
df_estimated['surgery?'] = pd.to_numeric(df_estimated['surgery?'])
df_estimated['rectal temperature'] = pd.to_numeric(df_estimated['rectal temperature'])
df_estimated['pulse'] = pd.to_numeric(df_estimated['pulse'])
df_estimated['respiratory rate'] = pd.to_numeric(df_estimated['respiratory rate'])
df_estimated['temperature of extremities'] = pd.to_numeric(df_estimated['temperature of extremities'])
df_estimated['pain'] = pd.to_numeric(df_estimated['pain'])
df_estimated['outcome'] = pd.to_numeric(df_estimated['outcome'])
df_estimated.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

## Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [10]:
df_estimated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

По категориальным атрибутам найдем значения, которые они принимают:

In [12]:
print(df_estimated['surgery?'].value_counts())
print(df_estimated['Age'].value_counts())
print(df_estimated['temperature of extremities'].value_counts())
print(df_estimated['pain'].value_counts())
print(df_estimated['outcome'].value_counts())

surgery?
1.0    180
2.0    119
Name: count, dtype: int64
Age
1    276
9     24
Name: count, dtype: int64
temperature of extremities
3.0    109
1.0     78
2.0     30
4.0     27
Name: count, dtype: int64
pain
3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: count, dtype: int64
outcome
1.0    178
2.0     77
3.0     44
Name: count, dtype: int64

1. Видим, что признак Age принимает значение 9, которого нет в описании столбцов. 
По суте 9 является выбросом для атрибута Age:

In [14]:
df_outliers_age = df_estimated[df_estimated['Age'] == 9]
df_outliers_age.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0

2. Выбросов для атрибутов surgery?, temperature of extremities, pain, outcome нет, т.к. они принимают значения строго своих категорий

3. Выбросы для атрибута rectal temperature:

In [16]:
q1 = df_estimated['rectal temperature'].quantile(0.25)
q3 = df_estimated['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
df_outliers_rt = df_estimated[(~df_estimated['rectal temperature'].between(lower_bound, upper_bound)) & (~df_estimated['rectal temperature'].isna())]
df_outliers_rt

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
80,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
91,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
118,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
238,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
251,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
259,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

4. Выбросы для атрибута pulse:

In [18]:
q1 = df_estimated['pulse'].quantile(0.25)
q3 = df_estimated['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
df_outliers_pulse = df_estimated[(~df_estimated['pulse'].between(lower_bound, upper_bound)) & (~df_estimated['pulse'].isna())]
df_outliers_pulse

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

5. Выбросы для атрибута respiratory rate:

In [20]:
q1 = df_estimated['respiratory rate'].quantile(0.25)
q3 = df_estimated['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
df_outliers_rr = df_estimated[(~df_estimated['respiratory rate'].between(lower_bound, upper_bound)) & (~df_estimated['respiratory rate'].isna())]
df_outliers_rr

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
186,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
269,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

## Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [137]:
df_filled = df_estimated.copy()

In [139]:
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

1. Для атрибутов surgery?, outcome отсутствуют по одному значению. Следовательно удаление по одной записи для каждого пустого атрибута не должно привести к искажениям результата.

In [141]:
df_filled.dropna(subset = ['surgery?', 'outcome'], inplace = True)
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

2. Атрибуты temperature of extremities, pain являются категориальными. Поэтому пропущенные значения по ним логичнее всего заполнить наиболее часто встечающимися значениями, т.е. модой.

In [143]:
df_filled['temperature of extremities'].fillna(df_filled['temperature of extremities'].mode()[0], inplace = True)
df_filled['pain'].fillna(df_filled['pain'].mode()[0], inplace = True)
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

3. Для атрибутов rectal temperature, pulse, respiratory rate проверим как сильно изменятся средние статистики при замене пустых значений:<br/>
   а) средним;<br/>
   б) медианой;<br/>
   в) модой

In [165]:
df_filled_mean = df_filled.copy()
df_filled_mean['rectal temperature'].fillna(df_filled_mean['rectal temperature'].mean(), inplace = True)
df_filled_median = df_filled.copy()
df_filled_median['rectal temperature'].fillna(df_filled_median['rectal temperature'].median(), inplace = True)
df_filled_mode = df_filled.copy()
df_filled_mode['rectal temperature'].fillna(df_filled_mode['rectal temperature'].mode()[0], inplace = True)
print('При замене средним:')
print(f"Медиана изменилась на {round(abs(df_filled['rectal temperature'].median() - df_filled_mean['rectal temperature'].median()), 2)}")
print(f"Мода изменилась на {round(abs(df_filled['rectal temperature'].mode()[0] - df_filled_mean['rectal temperature'].mode()[0]), 2)}\n")
print('При замене медианой:')
print(f"Среднее изменилось на {round(abs(df_filled['rectal temperature'].mean() - df_filled_median['rectal temperature'].mean()), 2)}")
print(f"Мода изменилась на {round(abs(df_filled['rectal temperature'].mode()[0] - df_filled_median['rectal temperature'].mode()[0]), 2)}\n")
print('При замене модой:')
print(f"Среднее изменилось на {round(abs(df_filled['rectal temperature'].mean() - df_filled_mode['rectal temperature'].mean()), 2)}")
print(f"Медиана изменилась на {round(abs(df_filled['rectal temperature'].median() - df_filled_mode['rectal temperature'].median()), 2)}\n")

При замене средним:
Медиана изменилась на 0.03
Мода изменилась на 0.17

При замене медианой:
Среднее изменилось на 0.01
Мода изменилась на 0.2

При замене модой:
Среднее изменилось на 0.03
Медиана изменилась на 0.2

Для атрибута rectal temperature:
<li>- при замене средним общее изменение 0,2; </li>
<li>- при замене медианой общее изменение 0,21; </li>
<li>- при замене модой общее изменение 0,23; </li>
Соответственно, в данном атрибуте пустые значения будем заменять средним:

In [123]:
df_filled['rectal temperature'].fillna(df_filled['rectal temperature'].mean(), inplace = True)
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory rate            299 non-null    float64
 5   temperature of extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

In [167]:
df_filled_mean = df_filled.copy()
df_filled_mean['pulse'].fillna(df_filled_mean['pulse'].mean(), inplace = True)
df_filled_median = df_filled.copy()
df_filled_median['pulse'].fillna(df_filled_median['pulse'].median(), inplace = True)
df_filled_mode = df_filled.copy()
df_filled_mode['pulse'].fillna(df_filled_mode['pulse'].mode()[0], inplace = True)
print('При замене средним:')
print(f"Медиана изменилась на {round(abs(df_filled['pulse'].median() - df_filled_mean['pulse'].median()), 2)}")
print(f"Мода изменилась на {round(abs(df_filled['pulse'].mode()[0] - df_filled_mean['pulse'].mode()[0]), 2)}\n")
print('При замене медианой:')
print(f"Среднее изменилось на {round(abs(df_filled['pulse'].mean() - df_filled_median['pulse'].mean()), 2)}")
print(f"Мода изменилась на {round(abs(df_filled['pulse'].mode()[0] - df_filled_median['pulse'].mode()[0]), 2)}\n")
print('При замене модой:')
print(f"Среднее изменилось на {round(abs(df_filled['pulse'].mean() - df_filled_mode['pulse'].mean()), 2)}")
print(f"Медиана изменилась на {round(abs(df_filled['pulse'].median() - df_filled_mode['pulse'].median()), 2)}\n")

При замене средним:
Медиана изменилась на 4.0
Мода изменилась на 24.0

При замене медианой:
Среднее изменилось на 0.64
Мода изменилась на 16.0

При замене модой:
Среднее изменилось на 1.93
Медиана изменилась на 4.0

Для атрибута pulse:
<li>- при замене средним общее изменение 28; </li>
<li>- при замене медианой общее изменение 16,64; </li>
<li>- при замене модой общее изменение 5,93; </li>
Соответственно, в данном атрибуте пустые значения будем заменять модой:

In [118]:
df_filled['pulse'].fillna(df_filled['pulse'].mode()[0], inplace = True)
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

In [169]:
df_filled_mean = df_filled.copy()
df_filled_mean['respiratory rate'].fillna(df_filled_mean['respiratory rate'].mean(), inplace = True)
df_filled_median = df_filled.copy()
df_filled_median['respiratory rate'].fillna(df_filled_median['respiratory rate'].median(), inplace = True)
df_filled_mode = df_filled.copy()
df_filled_mode['respiratory rate'].fillna(df_filled_mode['respiratory rate'].mode()[0], inplace = True)
print('При замене средним:')
print(f"Медиана изменилась на {round(abs(df_filled['respiratory rate'].median() - df_filled_mean['respiratory rate'].median()), 2)}")
print(f"Мода изменилась на {round(abs(df_filled['respiratory rate'].mode()[0] - df_filled_mean['respiratory rate'].mode()[0]), 2)}\n")
print('При замене медианой:')
print(f"Среднее изменилось на {round(abs(df_filled['respiratory rate'].mean() - df_filled_median['respiratory rate'].mean()), 2)}")
print(f"Мода изменилась на {round(abs(df_filled['respiratory rate'].mode()[0] - df_filled_median['respiratory rate'].mode()[0]), 2)}\n")
print('При замене модой:')
print(f"Среднее изменилось на {round(abs(df_filled['respiratory rate'].mean() - df_filled_mode['respiratory rate'].mean()), 2)}")
print(f"Медиана изменилась на {round(abs(df_filled['respiratory rate'].median() - df_filled_mode['respiratory rate'].median()), 2)}\n")

При замене средним:
Медиана изменилась на 5.0
Мода изменилась на 10.46

При замене медианой:
Среднее изменилось на 1.06
Мода изменилась на 5.0

При замене модой:
Среднее изменилось на 2.03
Медиана изменилась на 3.0

Для атрибута respiratory rate:
<li>- при замене средним общее изменение 15,46; </li>
<li>- при замене медианой общее изменение 6,06; </li>
<li>- при замене модой общее изменение 5,03; </li>
Соответственно, в данном атрибуте пустые значения будем заменять модой:

In [120]:
df_filled['respiratory rate'].fillna(df_filled['respiratory rate'].mode()[0], inplace = True)
df_filled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory rate            299 non-null    float64
 5   temperature of extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

Видим, что в итоговом дата-фрейме пустых значений не осталось

In [171]:
df_filled.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,3.0,3.0,2.0

Посмотрим, как изменились статистики после заполнения пустых значений:

In [131]:
df_estimated.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [133]:
df_filled.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,299.00000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000
mean,1.397993,1.64214,38.168619,70.073579,28.431438,2.468227,2.956522,1.551839
std,0.490305,2.17730,0.655730,28.234420,16.386414,0.976997,1.182130,0.737187
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.900000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.168619,60.000000,22.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,34.500000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000